.red{
    color: rgb(196, 28, 28);
    text-align: left;
    background-color: rgb(171, 241, 171);
}

a{
    text-decoration:none;
    font-weight: 500;
}

.box{

    width: 300px;
    height: 150px;
    background-color: yellowgreen;
    border: 10px solid; 
    border-top-left-radius: 0%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px ;
}